<h2>Reenviar reset de senha</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", class:"btn btn-primary", style:"float:none;margin-left:0;" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
