<!-- Modal -->
<div class="modal fade" id="newTransferAccountModal" tabindex="-1" role="dialog" aria-labelledby="newTransferAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTransferAccountModalLabel"><%= t '.title' %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: transfer_between_accounts_accounts_path, local: true) do |form| %>

          <%= form.hidden_field :user_id, value: current_user.id %>

          <div class='form-group'>
            <%= form.label :price, t('.form.price_cents') %>
            <%= form.number_field :price, step: :any, autofocus: true, class:'form-control' %>
          </div>

          <div class='form-group'>
            <%= form.label :account_id_out, t('.form.account_id_out') %>
            <%= form.select :account_id_out, accounts_options_for_select, {}, { class:'form-control' } %>
          </div>

          <div class='form-group'>
            <%= form.label :account_id_in, t('.form.account_id_in') %>
            <%= form.select :account_id_in, accounts_options_for_select, {}, { class:'form-control' } %>
          </div>

          <div class="actions">
            <%= form.submit t('save'), class:'btn btn-primary' %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>