<div class="row">
  <% @recurrences.each do |recurrence| %>
    <div class="col-md-4 col-xl-4 col-sm-4">
      <div class="card text-white bg-dark mb-12" style="margin-bottom:10px;">
        <p class="card-header" style="<%= color_recurrence(recurrence) %>"><label class="badge badge-primary"><%= count_transactions(recurrence) %></label>&nbsp;&nbsp;<%= recurrence.title.truncate(30) %></p>
        <div class="card-body">
          <strong>Informações da Conta: </strong>
          <p class="card-text"><%= humanized_money_with_symbol(recurrence.price_cents)  %> | <%= I18n.l(recurrence.date_expire.to_date) %></p>
          <div class='card-footer text-center'>
            <%= link_to "", class:"btn btn-info", "data-toggle":"modal", "data-target":"#paymentModal_#{recurrence.id}", style:"color:white;font-size:9px;" do %>
              <i class="fa fa-money"></i>
            <% end %>
            <%= link_to "", edit_users_backoffice_recurrence_path(recurrence), class:"btn btn-primary fa fa-edit" %>
            <%= link_to "", users_backoffice_recurrence_path(recurrence), method: :delete, data: { confirm: 'Tem certeza ?' }, class:"btn btn-danger fa fa-trash" %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'users_backoffice/recurrences/modals/payment', locals: { recurrence: recurrence } %>
  <% end %>
</div>

<%= paginate @recurrences, outer_window: 3 %>
