<div class="container">
  <nav class="navbar navbar-light my-finances-navbar">
    <a class="navbar-brand" href="/users_backoffice/transactions">Current Balance | <%= humanized_money_with_symbol Account.sum(:price_cents) %></a>

    <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newAccountModal", style:"width:270px" do %>
      <i class="fa fa-plus-square"></i> Nova Conta
    <% end %>
  </nav>
</div><br>


<div class='card border-dark' style='border-radius:10px;'>
  <div class='card-body'>
    <table class='table table-hover table-borderless'>
      <thead class='background-finances-green'>
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% @accounts.each do |account| %>
        <tbody class='border-bottom'>
          <tr>
            <td><%= account.title %></td>
            <td><%= humanized_money_with_symbol(account.price_cents) %></td>
            <td><%= render 'actions', account: account %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class='container-fluid'>
    <%= paginate @accounts, outer_window: 3 %>
  </div>
</div>


<%= render partial: 'users_backoffice/accounts/modals/new_account', locals: { account: @account = Account.new } %>
