<% title_recipes = t '.recipes' %>
<% title_expenses = t '.expenses' %>

<div class='row'>
  <div class='col-md mb-3'>
    <div class='card border-dark'>

      <!-- Header pills options -->
      <ul class="nav nav-pills mt-3 pl-3" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="transactions-recipes-tab" data-toggle="tab" href="#transactions-recipes" role="tab" aria-controls="transactions-recipes" aria-selected="true"><%= title_recipes %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="transactions-expenses-tab" data-toggle="tab" href="#transactions-expenses" role="tab" aria-controls="transactions-expenses" aria-selected="false"><%= title_expenses %></a>
        </li>
      </ul>

      <!-- Pills content -->
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="transactions-recipes" role="tabpanel" aria-labelledby="transactions-recipes-tab">
          
          <div class='card-body'>            
            <%= area_chart @transactions.recipes.group(:date).sum(:price_cents), legend: false,
              title: "#{title_recipes}", curve: true, xtitle: t('.days'),
              download: { filename: "#{title_recipes} #{Date.today.strftime('%d/%m/%y')}", background:'#ffffff' }, colors:['#2F4F4F'] %>
          </div>

        </div>
        <div class="tab-pane fade" id="transactions-expenses" role="tabpanel" aria-labelledby="transactions-expenses-tab">
          
          <div class='card-body'>
            <%= area_chart @transactions.expenses.group(:date).sum(:price_cents), legend: false,
              title: "#{title_expenses}", curve: true, xtitle: t('.days'),
              download: { filename: "#{title_expenses} #{Date.today.strftime('%d/%m/%y')}", background:'#ffffff' }, colors:['#DC143C'] %>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>


<!-- ============================================================================================= -->

<div class='row'>
  <div class='col-md-6 mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope -->
        <%= column_chart Transaction.recipes.group_by_month(:date).sum(:price_cents).map { |date, transactions| [date.strftime('%b %y'), transactions] }, legend: false,
          title: "#{title_recipes}", curve: true, xtitle: t('months'),
          download: { filename: "#{title_recipes} #{Date.today.strftime('%d/%m/%y')}", background:'#ffffff' }, colors:['#2F4F4F'] %>
      </div>
    </div>
  </div>

  <div class='col-md-6 mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope -->
        <%= column_chart Transaction.expenses.group_by_month(:date).sum(:price_cents).map { |date, transactions| [date.strftime('%b %y'), transactions] }, legend: false,
          title: "#{title_expenses}", curve: true, xtitle: t('months'),
          download: { filename: "#{title_expenses} #{Date.today.strftime('%d/%m/%y')}", background:'#ffffff' }, colors:['#DC143C'] %>
      </div>
    </div>
  </div>
</div>


<!-- ============================================================================================= -->

<div class='row'>
  <div class='col-md-6 mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope -->
        <% title = t '.categories' %>
        <%= column_chart @categories, legend: false, colors: ['#FF8C00'],
        title: "#{title}", download: { filename: "#{title} - #{Date.today.strftime('%d/%m/%y')}", background:'#ffffff'} %>
      </div>
    </div>
  </div>
  <div class='col-md-6 mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope -->
        <% title = t '.bills' %>
        <%= column_chart @bills, legend: false, colors:['#00008B'], 
        title: "#{title}", download: { filename: "#{title} - #{Date.today.strftime('%d/%m/%y')}", background:'#ffffff'} %>
      </div>
    </div>
  </div>
</div>
