<div class='card border-dark mb-3'>
  <div class='card-body'>
    <h3>O sistema se divide em 4 módulos:</h3>
    
    <ol style='font-size: 15px;'>
      <li><strong><%= link_to 'Dashboard:', dashboard_index_path %></strong> Painel principal com gráficos para análise e acompanhamento (<%= link_to 'clique aqui', dashboard_index_path %>).</li>
      <li><strong><%= link_to 'Contas:', accounts_path %></strong> Módulo de gestão de contas (<%= link_to 'clique aqui', accounts_path %>).</li>
      <li><strong><%= link_to 'Movimentações:', transactions_path %></strong> Seção de gestão de transações financeiras, todas as suas movimentações estão aqui (<%= link_to 'clique aqui', transactions_path %>).</li>
      <li><strong><%= link_to 'Orçamentos:', budgets_path %></strong> Seção de gestão de seus orçamentos e objetivos financeiros (<%= link_to 'clique aqui', budgets_path %>).</li>
      <li><strong><%= link_to 'Categorias:', categories_path %></strong> Seção de gestão das suas categorias de transações (<%= link_to 'clique aqui', categories_path %>).</li>
      <li><strong><%= link_to 'Recorrências:', bills_path %></strong> Seção de gestão das suas contas a pagar e receber (<%= link_to 'clique aqui', bills_path %>).</li>
    </ol>
  </div>
</div>

<div class="card border-dark text-center">
  <div class='card-body'>
    <div class='col-md-4'>
      <%= render 'shared/cards_for_new_users/transactions' %>
    </div>

    <div class='col-md-4'>
      <%= render 'shared/cards_for_new_users/accounts' %>
    </div>

    <div class='col-md-4'>
      <%= render 'shared/cards_for_new_users/bills' %>
    </div>
  </div>
</div>