<nav class="navbar navbar-light navbar-filter">
  <div class='row'>
    <div class='col'>
      <%= search_form_for @q, url: dashboard_index_path, html: { class: 'form-row my-2 my-lg-0' } do |f| %>

        <div class='form-row align-items-center'>
          <div class='form-group col-md-2'>
            <%= f.label :category, t('.category'), class:'label-control' %>
            <%= f.select :category_id_eq, options_for_select(Category.pluck(:title, :id)), { include_blank: t('.all')}, {class:'form-control'} %>
          </div>

          <div class='form-group col-md-2'>
            <%= f.label :price, t('.price'), class:'label-control' %>
            <%= f.number_field :price_cents_gteq, class:'form-control', in:0..999999, step: :any, placeholder: 'Min' %>
          </div>

          <div class='form-group col-md-2'>
            <%= f.number_field :price_cents_lteq, class:'form-control', in:0..999999, step: :any, placeholder: 'Max', style:'margin-top: 25px;' %>
          </div>

          <div class='form-group col-md-2'>
            <%= f.label :date, t('.date'), class:'label-control' %>
            <%= f.date_field :date_gteq, class:'form-control', default: Date.today %>
          </div>

          <div class='form-group col-md-2'>
            <%= f.date_field :date_lteq, class:'form-control', default: Date.today, style:'margin-top: 25px;' %>
          </div>
          
          <div class='form-group col-md-1 ml-4'>
            <%= f.submit t('.search'), class:'btn btn-outline-success btn-round btn-sm px-5 mt-4' %>
            <%= link_to t('.clear'), dashboard_index_path, class:'btn btn-outline-info btn-round btn-sm px-5 ml-1' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
