<div class="tile_count">
  <div class="col-md-4 col-sm-4 mb-3">
    <div class='card'>

      <div class='card-body d-flex'>
        <span class="fa-stack fa-lg" style='font-size:25px;'>
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa-solid fa-scale-balanced fa-stack-1x fa-inverse" style='background-color:blue;border-radius:10px;'></i>
        </span>
        
        <div class="count ml-3" style="font-size:14px;">
          <h5><%= t '.current_balance' %></h5>
          <%= Money.from_cents(@current_balance).format %>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-4 col-sm-4 mb-3">
    <div class='card'>

      <div class='card-body d-flex'>
        <span class="fa-stack fa-lg" style='font-size:25px;'>
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-arrow-up fa-stack-1x fa-inverse" style='background-color:DarkSlateGray;border-radius:10px;'></i>
        </span>
        
        <div class="count ml-3" style="font-size:14px;">
          <h5><%= t '.total_recipes' %></h5>
          <%= Money.from_cents(@transactions.recipes.sum(:price_cents)).format %>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-4 col-sm-4 mb-3">
    <div class='card'>

      <div class='card-body d-flex'>
        <span class="fa-stack fa-lg" style='font-size:25px;'>
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-arrow-down fa-stack-1x fa-inverse bg-danger" style='border-radius:10px;'></i>
        </span>
        
        <div class="count ml-3" style="font-size:14px;">
          <h5><%= t '.total_expenses' %></h5>
          <%= Money.from_cents(@transactions.expenses.sum(:price_cents)).format %>
        </div>
      </div>

    </div>
  </div>
</div>