<div class='container' style="padding-bottom: 70px;">

  <nav class="navbar navbar-light">
    <%= navbrand_link(t('.title', balance: Money.from_cents(@current_balance).format)) %>

    <div class='d-flex justify-content-center align-items-center'>

      <%= link_to '#', class: 'btn btn-outline-success btn-sm btn-round my-3', data: { toggle: 'modal', target: '#newRecipeModal' }, style: 'width:120px' do %>
        <span class='icon'>
          <i class='fa fa-plus-circle'></i> <%= t('button_title.new_recipe') %>
        </span>
      <% end %>

      <%= link_to '#', class: 'btn btn-outline-danger btn-sm btn-round my-3', data: { toggle: 'modal', target: '#newExpenseModal' }, style: 'width:120px' do %>
        <span class='icon'>
          <i class='fa fa-plus-circle'></i> <%= t('button_title.new_expense') %>
        </span>
      <% end %>

      <div class="dropdown dropleft mt-1">
        <%= link_to '#', class:'btn btn-outline-dark btn-sm btn-round', id:'dropdownActionButton', "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false" do %>
          <span class='icon'><i class='fa fa-plus-circle'></i></span>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="dropdownActionButton">
          <a class="dropdown-item" href="#" data-target='#newAccountModal' data-toggle='modal'>
            <span class='icon'><i class='fa fa-bank'></i></span>  <%= t('button_title.new_account') %>
          </a>
          <a class="dropdown-item" href="#" data-target='#newBillModal' data-toggle='modal'>
            <span class='icon'><i class='fa fa-recycle'></i></span>  <%= t('button_title.new_bill') %>
          </a>
        </div>
      </div>

      <%= filter %>
    </div>
  </nav>

  <div class="collapse" id="collapseSearch">
    <%= render 'search_filter' %>
  </div>
  
  <div class="row-lg">
    <% if current_user.transactions.any? %>
      <%= render 'tile_dashboard' %><br>
      <%= render 'chart_cards' %>
    <% else %>
      <%= render 'shared/how_webmoney_works' %>
    <% end %>
  </div>
</div>

<%= render partial: "transactions/modals/new_expense", locals: { transaction: @transaction = current_user.transactions.new, local: false, account: @account = nil } %>
<%= render partial: "transactions/modals/new_recipe",  locals: { transaction: @transaction = current_user.transactions.new, local: false, account: @account = nil } %>
<%= render partial: "accounts/modals/new_account",     locals: { account: @account = current_user.accounts.new, local: false } %>
<%= render partial: "bills/modals/new_bill",           locals: { bill: @bill = current_user.bills.new, local: false } %>