<div class='container mb-4' style="padding-bottom: 70px;">

  <nav class="navbar navbar-light">
    <%= navlink_dashboard %>

    <div class='d-flex justify-content-center align-items-center'>
      <% date_today = Date.today.last_month %>
      <%= link_to 'Último mês', dashboard_index_path(q: { date_gteq: date_today.last_month.beginning_of_month, date_lteq: date_today.last_month.end_of_month } ), class:'btn btn-outline-dark btn-sm btn-round' %>
      <%= link_to 'Mes atual', dashboard_index_path(q: { date_gteq: date_today.beginning_of_month, date_lteq: date_today.end_of_month } ), class:'btn btn-outline-dark btn-sm btn-round' %>

      <div class="dropdown dropleft mt-1">
        <%= link_to '#', class:'btn btn-outline-dark btn-sm btn-round', id:'dropdownActionButton', "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false" do %>
          <span class='icon'><i class='fa fa-plus-square'></i></span>
        <% end %>
        <div class="dropdown-menu" aria-labelledby="dropdownActionButton">
          <%= dropdown_item_dashboard(t('.button_title.new_transaction'), target: '#newTransactionModal', icon: 'fa fa-money') %>
          <%= dropdown_item_dashboard(t('.button_title.new_account'), target: '#newAccountModal', icon: 'fa fa-bank') %>
          <%= dropdown_item_dashboard(t('.button_title.new_bill'), target: '#newBillModal', icon: 'fa fa-refresh') %>
        </div>
      </div>

      <%= filter %>
    </div>
  </nav>

  <div class="collapse" id="collapseSearch">
    <%= render 'search_filter' %>
  </div>
  
  <div class="row-lg">
    <% if current_profile.transactions.any? %>
      <%= render 'tile_dashboard' %><br>
      <%= render 'chart_cards' %>
    <% else %>
      <%= render 'information_for_new_users' %>
    <% end %>
  </div>
</div>

<%= render partial: "#{params[:controller]}/modals/new_transaction", locals: { transaction: @transaction = current_profile.transactions.new } %>
<%= render partial: "#{params[:controller]}/modals/new_account", locals: { account: @account = current_profile.accounts.new } %>
<%= render partial: "#{params[:controller]}/modals/new_bill", locals: { bill: @bill = current_profile.bills.new } %>
