<div class='container mb-4' style="padding-bottom: 70px;">

  <nav class="navbar navbar-light mb-2 my-finances-navbar">
    <a class="navbar-brand" href="/users_backoffice/dashboard/index">Graphic Panel | <%= "#{Date.today.strftime('%B')}" %></a>

    <div class='float-right'>
      <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newTransactionModal", style:"width:140px" do %>
        <i class="fa fa-plus-square"></i> New Movement
      <% end %>

      <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newAccountModal", style:"width:140px" do %>
        <i class="fa fa-plus-square"></i> Nova Conta
      <% end %>

      <button class="btn btn-outline-light btn-sm my-sm-3" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
        <span class='icon'><i class='fa fa-search'></i></span>
      </button>
    </div>
  </nav>

  <div class="collapse" id="collapseSearch">
    <%= render 'search_filter' %>
  </div>

  <div class="row-md">
    <div class="tile_count">
      <div class="col-md-4 col-sm-4 mb-3">
        <div class='card card-primary'>
          <div class='card-header'>
            <span class="count_top" style=";font-size:15px;"><i class="fa fa-bank"></i> Current Balance</span>
          </div>
          <div class='card-body'>
            <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@transactions.recipes.sum(:price_cents) - @transactions.expenses.sum(:price_cents)) %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb-3">
        <div class='card card-success'>
          <div class='card-header'>
            <span class="count_top" style="font-size:15px;"><i class="fa fa-arrow-up"></i> Total Recipes</span>
          </div>
          <div class='card-body'>
            <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@transactions.recipes.sum(:price_cents)) %></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb-3">
        <div class='card card-danger'>
          <div class='card-header'>
            <span class="count_top" style="font-size:15px;"><i class="fa fa-arrow-down"></i> Total Expenses</span>
          </div>
          <div class='card-body'>
            <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@transactions.expenses.sum(:price_cents)) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <br>

<div class='row mb-2'>
  <div class='col-md mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope transactions_recipes_per_date -->
        <%= line_chart @transactions.recipes.group(:date).sum(:price_cents), legend: false,
          title: "My Recipes #{params[:q][:date_gteq]} #{params[:q][:date_lteq]}", curve: true, xtitle: 'Days', ytitle: 'Value ($)',
          download: { filename: "Moviments #{Date.today}", background:'#ffffff' }, colors:['#2F4F4F'] %>
      </div>
    </div>
  </div>
  <div class='col-md mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope transactions_recipes_per_date -->
        <%= line_chart @transactions.expenses.group(:date).sum(:price_cents), legend: false,
          title: "My Expenses #{params[:q][:date_gteq]} #{params[:q][:date_lteq]}", curve: true, xtitle: 'Days', ytitle: 'Value ($)',
          download: { filename: "Moviments #{Date.today}", background:'#ffffff' }, colors:['#8B0000'] %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md mb-3'>
    <div class='card border border-secondary'>
      <div class='card-body'>
        <!-- Scope -->
        <%= column_chart @categories, legend: false, colors: ['#2F4F4F'],
        title: 'My Categories', xtitle: 'Categories', ytitle: 'Value ($)', download: { filename: "My Recipes - #{Date.today}", background:'#ffffff'} %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md mb-3'>
    <div class='card border-secondary'>
      <div class='card-body'>
        <%= column_chart @bills, legend: false, colors:['#00008B'], title: 'My Bills', xtitle: 'Bills', 
        ytitle: 'Value ($)', download: { filename: "My Bills", background:'#ffffff'} %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'users_backoffice/dashboard/modals/new_transaction', locals: { transaction: @transaction = Transaction.new } %>
<%= render partial: 'users_backoffice/dashboard/modals/new_account', locals: { account: @account = Account.new } %>
