<div class="container">
  <nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;border-radius:10px;">
    <a class="navbar-brand" href="/users_backoffice/welcome/index">Painel de Gráficos</a>
  </nav>
</div><br>

<%= render 'search_filter' %>

<div class='container' style="padding-bottom: 70px;">
  <div class="row-md">
    <div class="tile_count">
      <div class="col-md-4 col-sm-4  tile_stats_count">
        <span class="count_top" style="color: blue"><i class="fa fa-bank"></i> Balanço Total</span>
        <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@transactions.balance) %></div>
      </div>
      <div class="col-md-4 col-sm-4  tile_stats_count">
        <span class="count_top" style="color: green"><i class="fa fa-arrow-down"></i> Receitas Totais</span>
        <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@transactions.recipes.sum(:price_cents)) %></div>
      </div>
      <div class="col-md-4 col-sm-4  tile_stats_count">
        <span class="count_top" style="color: red"><i class="fa fa-arrow-up"></i> Despesas Totais</span>
        <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@transactions.expenses.sum(:price_cents)) %></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class='card border-info' style='border-color:DarkSlateGray;'>
    <div class="card-header bg-light text-center" >

      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-transactions-graphics-tab" data-toggle="pill" href="#pills-transactions-graphics" role="tab" aria-controls="pills-transactions-graphics" aria-selected="true">Movimentações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-recurrence-graphics-tab" data-toggle="pill" href="#pills-recurrence-graphics" role="tab" aria-controls="pills-recurrence-graphics" aria-selected="false">Contas</a>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-transactions-graphics" role="tabpanel" aria-labelledby="pills-transactions-graphics-tab">
        <div class='container' style='padding: 10px;'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='card'>
                <div class='card-body'>
                  <!-- Scope transactions_recipes_per_date -->
                  <%= line_chart @transactions.recipes.group(:date).sum(:price_cents), title:"Receita", colors: ["#008080"], curve: true  %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='container' style='padding: 10px;'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='card'>
                <div class='card-body'>
                  <!-- Scope transactions_expenses_per_date -->
                  <%= line_chart @transactions.expenses.group(:date).sum(:price_cents), title:"Despesas", colors: ["#b00"], curve: true  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-recurrence-graphics" role="tabpanel" aria-labelledby="pills-recurrence-graphics-tab">
        <div class='container' style='padding: 10px;'>
          <div class='row'>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @transactions.recipes.group_by_month(:date, format: '%b %Y').sum(:price_cents), title:"Receitas", colors: ["#2E8B57"] %>
                </div>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @transactions.expenses.group_by_month(:date, format: '%b %Y').sum(:price_cents), title:"Despesas", colors: ["#b00"] %>
                </div>
              </div>
            </div>
          </div><br>

          <div class='row'>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @transactions.min_and_max_recipes, title:"Min e Max - Receitas Recorrentes", colors: ["#2E8B57", "#20B2AA"] %>
                </div>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @transactions.min_and_max_expenses, title:"Min e Max - Despesas Recorrentes", colors: ["#b00", "#DC143C"] %>
                </div>
              </div>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</div><br>
