<!-- Modal -->
<div class="modal fade payment_modal" id="paymentModal_<%= bill.id %>" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel"><%= t '.title', bill: bill.title %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'transactions/form', transaction: @transaction, data: { local: local, bill: bill, move_type: bill.bill_type } %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#pay_bill_<%= bill.id %>').click(function(){
      $('#paymentModal_<%= bill.id %>').on('show.bs.modal', function () {
        $('#transaction_bill_id').val('<%= bill.id %>');
        $('#transaction_price').val('<%= bill.price %>');
        $('#transaction_price').trigger('focus');
      });
    })

  })
</script>
