<%= link_to '#', class: "btn text-white", style:'font-size:14px;', data: { toggle: 'modal', target: "#newRecipeModal" } do %>
  <span class='icon'><i class="fa fa-money"></i></span>
<% end %>
<%= link_to edit_budget_path(budget), class: 'btn text-white' do %>
  <span class='icon'><i class="fa fa-pencil"></i></span>
<% end %>
<%= link_to budget_path(budget), class: 'btn text-white', method: :delete, data: { confirm: t('are_you_sure?') } do %>
  <span class='icon'><i class="fa fa-trash"></i></span>
<% end %>
<%= link_to '#', class: 'btn text-white', data: { toggle: 'collapse', target: "#budget-#{ budget.id }" }, aria: { expanded: 'true', controls: "budget-#{ budget.id }" } do %>
  <i class='fa fa-chevron-down'></i>
<% end %>

<%= render partial: "transactions/modals/new_recipe", locals: { transaction: @transaction = current_profile.transactions.new, local: true } %>
