<nav class="navbar navbar-light bg-light">
  <div class="container">
    <h4>Contas</h4>

    <%= link_to "#", class:"btn btn-success", "data-toggle":"modal", "data-target":"#newRecurrenceModal" do %>
      <i class="fa fa-plus-square"></i>
    <% end %>
  
    <%= form_with url: users_backoffice_recurrences_path, method: :get, local: true, class:" form-inline my-2 my-sm-2" do |form| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= form.search_field :title, class:"form-control", style:"width:210px;" %>
        </div>
        <%= form.submit 'Pesquisar', class:"btn btn-success btn-md" %>
      </div>
    <% end %>
  </div>
</nav>

<%= render partial: "/users_backoffice/recurrences/search/my_recurrences" %>

<%= render partial: 'users_backoffice/recurrences/modals/new_recurrence', locals: { recurrence: @recurrence = Recurrence.new} %>
