<div class="container">
  <nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;">
    <div class=''>
      <a class="navbar-brand" href="/users_backoffice/recurrences">Contas</a>
    </div>
  </nav>
</div><br>

<nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;">

  <div class='' style='align-right'>
    <%= link_to "#", class:"btn btn-outline-info btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newRecurrenceModal", style:"width:270px" do %>
      <i class="fa fa-plus-square"></i> Nova Conta
    <% end %>

    <a class="btn btn-outline-info btn-sm my-2 my-sm-0" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
      <span class='icon-bar'>
        <span class='fa fa-search'></span>
      </span>
    </a>
  </div>
  <div class='pos-l-b' style='position: relative; bottom: 0px; left: 0px;'>
    <%= form_with url: users_backoffice_recurrences_path, method: :get, local: true, class:"collapse form-inline my-2 my-lg-0", id:"collapseSearch" do |form| %>
      <%= form.search_field :title, class:"form-control-sm mr-sm-2", style:"width:230px;", placeholder:"Pesquisar Conta" %>
      <%= form.submit 'Pesquisar', class:"btn btn-outline-info btn-sm my-2 my-sm-0" %>
    <% end %>
    <%= form_with url: users_backoffice_recurrences_path, method: :get, local: true, class:"collapse form-inline my-2 my-lg-0", id:"collapseSearch" do |form| %>
      <%= form.select :category_id, Category.order(:title).collect {|category| [category.title, category.id]}, {}, {class:"form-control-sm mr-sm-2", style:"width:230px;", placeholder:"Pesquisar por conta"} %>
      <%= form.submit 'Pesquisar', class:"btn btn-outline-info btn-sm my-2 my-sm-0" %>
    <% end %>
  </div>
</nav><br>

<%= render partial: "/users_backoffice/recurrences/search/my_recurrences" %>

<%= render partial: 'users_backoffice/recurrences/modals/new_recurrence', locals: { recurrence: @recurrence = Recurrence.new} %>
