<div class="dropdown dropleft">
  <%= link_to '#', class:'btn btn-outline-dark btn-sm', id:'dropdownActionButton', data: { toggle: 'dropdown'}, aria: { haspopup: 'true', expanded: 'false' } do %>
    <span class='icon'><i class='fa fa-bars'></i></span>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="dropdownActionButton">
    <%= link_to bill_path(bill), class:'dropdown-item py-3', style:'font-size:14px;' do %>
      <span class='icon'><i class="fa fa-eye pull-right"></i></span> Ver
    <% end %>
    <%= link_to edit_bill_path(bill), class:'dropdown-item py-3', style:'font-size:14px;' do %>
      <span class='icon'><i class="fa fa-pencil pull-right"></i></span> Editar
    <% end %>
    <%= link_to bill_path(bill), class:'dropdown-item py-3', style:'font-size:14px;', method: :delete, data: { confirm: t('are_you_sure?') } do %>
      <span class='icon'><i class="fa fa-trash pull-right"></i></span> Deletar
    <% end %>
    <%= link_to '#', class: "dropdown-item py-3", style:'font-size:14px;', data: { toggle: 'modal', target: "#paymentModal_#{bill.id}" } do %>
      <span class='icon'><i class="fa fa-money pull-right"></i></span> Pagar
    <% end %>
  </div>
</div>
