<div class='col-md-4'>
  <div class='card border-dark mb-3'>
    <div class='card-body'>
      <div class='custom-card-text d-flex flex-row justify-content-between mb-3'>
        <h5><%= bill_type_status(bill.bill_type) %> <%= bill.title %></h5>

        <%= render 'actions', bill: bill %>
      </div>
      <div class='d-flex flex-row justify-content-between align-items-center'>
        <span style='font-size: 20px;'><%= humanized_money_with_symbol(bill.price_cents) %></span>
        <%= bill_payment(bill.status) %>
      </div>
      <div class='d-flex flex-row justify-content-between align-items-center'>
        <%= I18n.l bill.due_pay, format: :short %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "bills/modals/new_payment", locals: { bill: bill } %>