<%= form_with(url: url, model: @bill, local: true) do |form| %>
  <%#= render "shared/error_messages", resource: @bill %>

  <%= form.hidden_field :user_profile_id, value: current_user.user_profile.id %>

  <div class='row mb-2'>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :title %>
        <%= form.text_field :title, class:'form-control' %>
      </div>
    </div>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :price_cents %>
        <%= form.number_field :price_cents, class:'form-control', min: 0, step: :any %>
      </div>
    </div>
  </div>

  <div class='row mb-2'>
    <div class='col-md-6'>
      <div class='form_group'>
        <%= form.label :due_pay %>
        <%= form.date_field :due_pay, class:'form-control' %>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='form_group'>
        <%= form.label :bill_type %>
        <%= form.select :bill_type, options_for_select(bill_type_options_for_select, @bill.bill_type), {}, { class:"form-control" } %>
      </div>
    </div>
  </div>

  <div class="actions mt-3">
    <%= form.submit t('save'), class:'btn btn-primary btn-sm' %>
    <%= link_to t('back'), bills_path, class:'btn btn-secondary btn-sm' %>
  </div>
<% end %>
