<%= form_with(model: @bill, url: url, local: local) do |form| %>

  <%= form.hidden_field :user_profile_id, value: current_user.user_profile.id %>

  <div class='row mb-2'>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :title %>
        <%= form.text_field :title, class:'form-control' %>
      </div>
    </div>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :price_cents %>
        <%= form.number_field :price_cents, placeholder: 'R$0,00', class:'form-control', min: 1, step: :any %>
      </div>
    </div>
  </div>

  <div class='row mb-2'>
    <div class='col-md-6'>
      <div class='form_group'>
        <%= form.label :due_pay %>
        <%= form.date_field :due_pay, class:'form-control' %>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='form_group'>
        <%= form.label :bill_type %>
        <%= form.select :bill_type, options_for_select(bill_type_options_for_select, @bill.bill_type), {}, { class:"form-control" } %>
      </div>
    </div>
  </div>

  <div class="actions mt-3">
    <%= form.submit t('save'), class:'btn btn-primary' %>
    <% if params[:action] == 'edit' %>
      <%= link_to 'Voltar', bills_path, class:'btn btn-secondary' %>
    <% else %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <% end %>
  </div>
<% end %>
