<nav class="navbar-filter p-2">
  <%= search_form_for @q, url: bills_path, html: { class: 'form-row my-2' } do |f| %>
    <div class='mx-2'>
      <div class='form-group col-md-2'>
        <%= f.label :bill_type_eq, t('.bill_type'), class: 'label-control' %>
        <%= f.select :bill_type_eq, options_for_select(bill_type_options_for_select, (params[:q][:bill_type_eq] rescue nil)), 
                                    { include_blank: 'All' },
                                    { data: { style: 'btn btn-link' },  class: 'custom-select' } %>
      </div>

      <div class='form-group col-md-2'>
        <%= f.label :status_eq, t('.status'), class:'label-control' %>
        <%= f.select :status_eq, options_for_select(bill_status_options_for_select, (params[:q][:status_eq] rescue nil)),
                                { include_blank: 'All' },
                                { data: { style: 'btn btn-link' },  class: 'custom-select' } %>
      </div>

      <div class='form-group col-md-1'>
        <%= f.label :price, t('.price_cents'), class:'label-control' %>
        <%= f.number_field :price_gteq, value: (params[:q][:price_gteq] rescue nil), class:'form-control', in:0..999999, placeholder: 'Min' %>
      </div>

      <div class='form-group col-md-1'>
        <%= f.number_field :price_lteq, value: (params[:q][:price_lteq] rescue nil), class:'form-control', in:0..999999, placeholder: 'Max', style:'margin-top: 25px;' %>
      </div>

      <div class='form-group col-md-2'>
        <%= f.label :due_pay, t('.due_pay'), class:'label-control' %>
        <%= f.date_field :due_pay_gteq, value: (params[:q][:due_pay_gteq] rescue  Date.today), class:'form-control' %>
      </div>

      <div class='form-group col-md-2'>
        <%= f.date_field :due_pay_lteq, value: (params[:q][:due_pay_lteq] rescue  Date.today), class:'form-control', style:'margin-top: 25px;' %>
      </div>
      
      <div class='form-group col-md-2 d-flex flex-column'>
        <%= f.submit t('search'), class:'btn btn-outline-dark btn-round btn-sm mt-2' %>
        <%= link_to t('clear'), bills_path, class:'btn btn-outline-secondary btn-round btn-sm mt-2' %>
      </div>
    </div>
  <% end %>
</nav>
<br>