<div class="container">
  <nav class="navbar navbar-light">
    <%= navlink_bill %>

    <div class='float-right'>
      <%= modal_to_new_resource(t('.new_resource'), target: '#newBillModal') %>

      <%= filter %>
    </div>
  </nav>
</div><br>

<div class="collapse" id="collapseSearch">
  <%= render 'search_filter' %>
</div>

<div class='card border-dark' style='border-radius:10px;'>
  <div class='card-body'>
    <table class='table table-borderless'>
      <thead>
        <tr>
          <th><%= Bill.human_attribute_name :title %></th>
          <th><%= Bill.human_attribute_name :price_cents %></th>
          <th><%= Bill.human_attribute_name :due_pay %></th>
          <th><%= Bill.human_attribute_name :bill_type %></th>
          <th><%= Bill.human_attribute_name :status %></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.title %></td>
            <td><%= humanized_money_with_symbol bill.price_cents %></td>
            <td><%= bill.due_pay.strftime('%d %b %y') %></td>
            <td><%= bill_type_status bill.bill_type %></td>
            <td><%= bill_payment bill.status %></td>
            <td><%= render 'actions', bill: bill %></td>
          </tr>

          <%= render partial: "#{params[:controller]}/modals/new_payment", locals: { bill: bill } %>
        <% end %>
      </tbody>
    </table>
    <div class='container-fluid'>
      <%= paginate @bills %>
    </div>
  </div>
</div>

<br>

<%= render partial: 'bills/modals/new', locals: { bill: @bill = Bill.new } %>
