<h3>Dashboard</h3>

<% if params[:period] || params[:start_date] || params[:end_date] %>
  <p>Pesquisa: <%= params[:period] %> <%= "#{params[:start_date]} #{params[:end_date]}" %></p>
<% end %>

<ul class="nav">
  <%= form_with url: users_backoffice_welcome_index_path, local: true, method: :get, class:"form-inline my-2 my-lg-0" do |form| %>
  <li class="nav-item">
    <%= form.select :period, options_for_select(["Dia", "Semana", "Mês", "Ano"]), { prompt: "Periodo" }, { class:"form-control-sm", style:"width:100px" } %>&nbsp;
  </li>
  <li class="nav-item">
    &nbsp;<%= form.submit "Filtrar", class:"btn btn-info btn-sm my-2 my-sm-0"%>
  </li>
  <% end %>
</ul>


<hr>

<div class="row">
  <div class="col-xl-12 col-md-12 col-sm-12">

    <h5>Receitas - R$ <%= @all_recipes %></h5>

    <div class="col-md-6 col-xl-6 col-sm-6" >
      <%= line_chart @category_recipes_per_date, title:"Receita por #{params[:period] ? "#{params[:period]}": "Dia"}", colors: ["#008080"] %>
    </div>
    <div class="col-md-6 col-xl-6 col-sm-6" >
      <%= column_chart @recipes_per_account, title:"Receita por Contas", colors: ["#008080"] %>
    </div>

  </div>
</div>

<br><hr>

<div class="row">
  <div class="col-xl-12 col-md-12 col-sm-12">

    <h5>Despesas - R$ <%= @all_expenses %></h5>

    <div class="col-md-6 col-xl-6 col-sm-6" >
      <%= line_chart @category_expenses_per_date, title:"Despesas por #{params[:period] ? "#{params[:period]}": "Dia"}", colors: ["#b00"] %>
    </div>
    <div class="col-md-6 col-xl-6 col-sm-6" >
      <%= column_chart @expenses_per_account, title:"Despesas por Contas", colors: ["#b00"] %>
    </div>

  </div>
</div>

<br><hr>

<div class="row">
  <div class="col-xl-12 col-md-12 col-sm-12">

    <h5>Balanço - R$ <%= @all_recipes - @all_expenses %></h5>

    <div class="col-md-4 col-xl-4 col-sm-4" >
      <%= column_chart @balance, title:"Balanço Geral", colors: ["#b00", "#008080"] %>
    </div>

    <div class="col-md-4 col-xl-4 col-sm-4" >
      <%= column_chart @min_and_max_expenses, title:"Min e Max - Despesas", colors: ["#b00"] %>
    </div>

    <div class="col-md-4 col-xl-4 col-sm-4" >
      <%= column_chart @min_and_max_recipes, title:"Min e Max - Receitas", colors: ["#008080"] %>
    </div>

  </div>
</div>

<br><hr>
