<div class="container">
  <nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;">
    <a class="navbar-brand" href="/users_backoffice/welcome/index">Painel de Gráficos</a>
  </nav>
</div><br>

<nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;">

  <%= form_with url: users_backoffice_welcome_index_path, local: true, method: :get, class:"form-inline my-2 my-lg-0" do |form| %>
    <%= form.date_field :start_date, { class:"form-control-sm", style:"width:130px" } %>&nbsp;
    <%= form.date_field :end_date, { class:"form-control-sm", style:"width:130px" } %>&nbsp;
    &nbsp;<%= form.submit "Filtrar", class:"btn btn-outline-info btn-sm my-2 my-sm-0"%>
  <% end %>

</nav>

<div class="row-md" style="display: inline-block;">
  <div class="tile_count">
    <div class="col-md-4 col-sm-4  tile_stats_count">
      <span class="count_top" style="color: blue"><i class="fa fa-bank"></i> Balanço Total</span>
      <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@balance) %></div>
    </div>
    <div class="col-md-4 col-sm-4  tile_stats_count">
      <span class="count_top" style="color: green"><i class="fa fa-money"></i> Receitas Totais</span>
      <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@all_recipes) %></div>
    </div>
    <div class="col-md-4 col-sm-4  tile_stats_count">
      <span class="count_top" style="color: red"><i class="fa fa-money"></i> Despesas Totais</span>
      <div class="count" style="font-size:25px;"><%= humanized_money_with_symbol(@all_expenses) %></div>
    </div>
  </div>
</div>

<div class="container">
  <div class='card border-info' style='border-color:DarkSlateGray;'>
    <div class="card-header bg-light text-center" >

      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-transactions-graphics-tab" data-toggle="pill" href="#pills-transactions-graphics" role="tab" aria-controls="pills-transactions-graphics" aria-selected="true">Transações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-recurrence-graphics-tab" data-toggle="pill" href="#pills-recurrence-graphics" role="tab" aria-controls="pills-recurrence-graphics" aria-selected="false">Contas</a>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-transactions-graphics" role="tabpanel" aria-labelledby="pills-transactions-graphics-tab">
        <div class='container' style='padding: 10px;'>
          <div class='row'>
            <div class='col-md-12'>
              <div class='card'>
                <div class='card-body'>
                  <%= line_chart @transactions_recipes_per_date, title:"Movimentações na conta", colors: ["#008080"], curve: true  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-recurrence-graphics" role="tabpanel" aria-labelledby="pills-recurrence-graphics-tab">
        <div class='container' style='padding: 10px;'>
          <div class='row'>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @recipes_per_account, title:"Receitas", colors: ["#008080"] %>
                </div>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @expenses_per_account, title:"Despesas", colors: ["#b00"] %>
                </div>
              </div>
            </div>
          </div><br>

          <div class='row'>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @min_and_max_recipes, title:"Min e Max - Receitas Recorrentes", colors: ["#008080"] %>
                </div>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='card'>
                <div class='card-body'>
                  <%= column_chart @min_and_max_expenses, title:"Min e Max - Despesas Recorrentes", colors: ["#b00"] %>
                </div>
              </div>
            </div>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</div><br>
