<div class="container">
  <nav class="navbar navbar-light my-finances-navbar">
    <a class="navbar-brand" href="/users_backoffice/categories"> Categories </a>
  
    <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newCategoryModal", style:"width:270px" do %>
      <i class="fa fa-plus-square"></i> Nem Category
    <% end %>
  </nav>
</div><br>

<div class='card-deck'>

  <div class='card card-success'>
    <div class='card-header'>
      <span class='icon'><i class='fa fa-arrow-up'> RECIPES</i></span>
    </div>
    <div class='card-body'>
      <table class='table table-hover table-sm table-borderless'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.recipes.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <td><%= render 'actions', category: category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card card-danger'>
    <div class='card-header'>
      <span class='icon'><i class='fa fa-arrow-up'> EXPENSES</i></span>
    </div>
    <div class='card-body'>
      <table class='table table-hover table-sm table-borderless'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.expenses.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <td><%= render 'actions', category: category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: 'users_backoffice/categories/new', locals: { category: @category = Category.new} %>
