<div class="container">
  <nav class="navbar navbar-light my-finances-navbar">
    <a class="navbar-brand" href="<%= users_backoffice_categories_path %>"> Categories </a>

    <div class='float-right'>
      <%= modal_to_new_resource(' New Category', target: '#newCategoryModal') %>
    </div>
  </nav>
</div><br>

<div class='card-deck'>

  <div class='card card-success'>
    <div class='card-header'>
      <% amount_recipes = current_user_profile.transactions.recipes.sum(:price_cents) %>
      <span class='icon'><i class='fa fa-arrow-up'> RECIPES </i></span> <%= humanized_money_with_symbol(amount_recipes) %>
    </div>
    <div class='card-body'>
      <table class='table table-hover table-sm table-borderless'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.recipes.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <% amount = current_user_profile.transactions.where(category: category).sum(:price_cents) %>
              <td><%= humanized_money_with_symbol(amount) %></td>
              <td><%= render 'actions', category: category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card card-danger'>
    <div class='card-header'>
      <% amount_expenses = current_user_profile.transactions.expenses.sum(:price_cents) %>
      <span class='icon'><i class='fa fa-arrow-down'> EXPENSES </i></span> <%= humanized_money_with_symbol(amount_expenses) %>
    </div>
    <div class='card-body'>
      <table class='table table-hover table-sm table-borderless'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.expenses.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <% amount = current_user_profile.transactions.where(category: category).sum(:price_cents) %>
              <td><%= humanized_money_with_symbol(amount) %></td>
              <td><%= render 'actions', category: category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: "#{params[:controller]}/modals/new", locals: { category: @category = current_user_profile.categories.new } %>
