<div class="container mb-3">
  <nav class="navbar navbar-light my-finances-navbar">
    <a class="navbar-brand" href="/users_backoffice/transactions">Movimentações | <%= humanized_money_with_symbol @balance %></a>

    <div class='float-right'>
      <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newTransactionModal", style:"width:270px" do %>
        <i class="fa fa-plus-square"></i> New Movement
      <% end %>

      <button class="btn btn-outline-light btn-sm my-sm-3" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
        <span class='icon'><i class='fa fa-filter'></i></span>
      </button>
    </div>
  </nav>
</div>

<div class="collapse" id="collapseSearch">
  <%= render 'search_filter' %>
</div>

<div class="row">
  <% @transactions.each do |day, transactions| %>
    <div class="col-md-12">
      <div class="card border-dark mb-3" style='border-radius:10px;'>
        <div class="card-body">
          <table class='table table-sm table-borderless table-hover'>
            <thead>
              <tr>
                <th>Description</th>
                <th>Value</th>
                <th>Date</th>
                <th>Type</th>
                <th>Category</th>
                <th>Account</th>
                <th>Actions</th>
              </tr>
            </thead>
            <% transactions.each do |transaction| %>
              <tbody class='border-bottom'>
                <tr>
                  <td><div class='card-text'><small><%= transaction.description %></small></div></td>
                  <td><%= value_style(transaction) %></td>
                  <td><%= transaction.date.strftime('%m/%d/%Y') %></td>
                  <td><%= transaction_status(transaction.category.category_type) %></td>
                  <td><%= transaction.category.title %></td>
                  <td><%= transaction.account.title %></td>
                  <td><%= render 'actions', transaction: transaction %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
          <div class="card-footer background-finances-green text-right" style='border-radius:20px;'>current balance <%= humanized_money_with_symbol balance_for_that_day(day) %> - <%= day %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @transactions, outer_window: 2 %>

<%= render partial: 'users_backoffice/transactions/modals/new_transaction', locals: { transaction: @transaction = Transaction.new} %>
