<div class="container">
  <nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;border-radius:10px;">
    <a class="navbar-brand" href="/users_backoffice/transactions">Movimentações | <%= humanized_money_with_symbol balance_for_that_day(Date.today.strftime('%d/%m/%Y')) %></a>
  </nav>
</div><br>

<nav class="navbar navbar-light" style="background-color:DarkSlateGray;color:white;border-radius:10px;">
  <%= render 'search_form' %>
</nav><br>

<div class="row">
  <% @transactions.each do |day, transactions| %>
    <div class="col-md-12">
      <div class="card border-dark mb-3" style='border-radius:10px;'>
        <div class="card-body">
          <table class='table table-sm table-borderless table-hover'>
            <thead>
              <tr>
                <td><strong>Title</strong></td>
                <td><strong>Value</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>Type</strong></td>
                <td><strong>Account</strong></td>
                <td><strong>Actions</strong></td>
              </tr>
            </thead>
            <% transactions.each do |transaction| %>
              <tbody>
                <tr>
                  <td><div class='card-text'><small><%= transaction.title %></small></div></td>
                  <td><%= value_style(transaction) %></td>
                  <td><%= transaction.date.strftime('%d/%m/%Y') %></td>
                  <td><%= transaction_status(transaction.move_type) %></td>
                  <td><%= transaction.category.title %></td>
                  <td><%= render 'actions', transaction: transaction %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
          <div class="card-footer bg-dark text-white text-right" style='border-radius:20px;'>current balance <%= humanized_money_with_symbol balance_for_that_day(day) %> - <%= day %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @transactions, outer_window: 2 %>

<%= render partial: 'users_backoffice/transactions/modals/new_transaction', locals: { transaction: @transaction = Transaction.new} %>
