<nav class="navbar navbar-light bg-light">
  <div class="container">
    <h4>Transações</h4>
    
    <%= link_to "#", class:"btn btn-success", "data-toggle":"modal", "data-target":"#newTransactionModal" do %>
      <i class="fa fa-plus-square"></i>
    <% end %>
    
    <%= form_with url: users_backoffice_transactions_path, method: :get, local: true, class:" form-inline my-2 my-sm-2" do |form| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= form.search_field :title, class:"form-control", style:"width:210px;" %>
        </div>
        <%= form.submit 'Pesquisar', class:"btn btn-success btn-md" %>
      </div>
    <% end %>
    
  </div>
  
</nav>


<%= render partial: "/users_backoffice/transactions/search/my_transactions" %>

<%= render partial: 'users_backoffice/transactions/modals/new_transaction', locals: { transaction: @transaction = Transaction.new} %>
