<%= form_with(model: [:users_backoffice, @bill], local: true) do |form| %>

  <div class='row mb-2'>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :title %>
        <%= form.text_field :title, class:'form-control' %>
      </div>
    </div>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :price_cents %>
        <%= form.number_field :value, class:'form-control', min: 0, step: :any %>
      </div>
    </div>
  </div>

  <div class='row mb-2'>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :due_pay %>
        <%= form.date_field :due_pay, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class='row mb-2'>
    <div class='col-md'>
      <div class='form_group'>
        <%= form.label :bill_type %>
        <%= form.select :bill_type, options_for_select(Bill.bill_types.keys), {}, {class:"form-control"} %>
      </div>
    </div>
  </div>  

  <div class="actions mt-3">
    <%= form.submit 'Save', class:'btn btn-primary' %>
    <%= link_to 'Back', users_backoffice_bills_path, class:'btn btn-secondary' %>
  </div>
<% end %>
