<%= form_with(model: @category, local: true) do |form| %>
  
<%= form.hidden_field :user_profile_id, value: current_user.user_profile.id %>

<div class="row">
  <div class="col-md-12 col-xl-12 col-sm-12">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :category_type %>
      <%= form.select :category_type, options_for_select(category_type_options_for_select, Category.category_types[@category.category_type]), {}, {class:"form-control"} %>
    </div>
  </div>
</div>

<div class="actions">
  <%= form.submit "Save", class:"btn btn-primary" %>
  <%= link_to 'Back', categories_path, class:'btn btn-secondary' %>
</div>
<% end %>