<div class="container">
  <nav class="navbar navbar-light">
    <%= navbrand_link %>

    <%= link_to '#', class: 'btn btn-outline-dark btn-sm btn-round my-sm-3', data: { toggle: 'modal', target: '#newCategoryModal' }, style: 'width:140px' do %>
      <span class='icon'>
        <i class='fa fa-plus-circle'></i> <%= t('.new_resource') %>
      </span>
    <% end %>

  </nav>
</div><br>

<div class='card-deck mb-3'>

  <div class='card card-success'>
    <div class='card-header'>
      <% amount_recipes = current_user.transactions.recipes.sum(:price_cents) %>
      <span class='icon'>
        <i class='fa fa-arrow-up mr-2' style='font-size:20px;'></i>
        <%= t '.recipes', amount: humanized_money_with_symbol(amount_recipes) %>
      </span>
    </div>
    <div class='card-body'>
      <table class='table table-hover table-sm table-borderless'>
        <thead>
          <tr>
            <th><%= Category.human_attribute_name :title %></th>
            <th><%= Category.human_attribute_name :amount %></th>
            <th colspan="1">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.recipes.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <% amount = current_user.transactions.where(category: category, date: Date.today.beginning_of_month..Date.today.end_of_month).sum(:price_cents) %>
              <td><%= humanized_money_with_symbol(amount) %></td>
              <td><%= render 'actions', category: category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='card card-danger'>
    <div class='card-header'>
      <% amount_expenses = current_user.transactions.expenses.sum(:price_cents) %>
      <span class='icon'>
        <i class='fa fa-arrow-down mr-2' style='font-size:20px;'></i>
        <%= t '.expenses', amount: humanized_money_with_symbol(amount_expenses) %>
      </span>
    </div>
    <div class='card-body'>
      <table class='table table-hover table-sm table-borderless'>
        <thead>
          <tr>
            <th><%= Category.human_attribute_name :title %></th>
            <th><%= Category.human_attribute_name :amount %></th>
            <th colspan="1">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.expenses.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <% amount = current_user.transactions.where(category: category).sum(:price_cents) %>
              <td><%= humanized_money_with_symbol(amount) %></td>
              <td><%= render 'actions', category: category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: "#{params[:controller]}/modals/new", locals: { category: @category = current_user.categories.build } %>
