<%= form_with(url: url, model: @transaction, local: true) do |form| %>

  <div class="row">
    <div class="col-md-6 col-xl-6 col-sm-6">
      <div class="form-group">
        <%= form.label :Valor %>
        <%= form.number_field :price_cents, step: :any, min: 0, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :'Data do pagamento' %>
        <%= form.date_field :date, class:"form-control" %>
      </div>
    </div>
    <div class="col-md-6 col-xl-6 col-sm-6">
      <div class="form-group">
        <%= form.label :category %>
        <%= form.select :category_id, category_options_for_select, {}, {class:"form-control"} %>
      </div>
      <div class='form-group'>
        <%= form.label :account %>
        <%= form.select :account_id, accounts_options_for_select, {}, { class:'form-control' } %>
      </div>
    </div>
    <div class='col-md-12'>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
    <%= link_to 'Back', transactions_path, class:'btn btn-secondary' %>
  </div>
<% end %>