<%= form_with(model: @transaction, local: data[:local]) do |form| %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :price %>
        <% if data[:bill].present? %>
          <% currency = number_to_currency(data[:bill].price, unit: '') %>
        <% else %>
          <% currency = number_to_currency(form.object.price, unit: '') %>
        <% end %>

        <%= form.text_field :price, value: currency, placeholder: 'R$0,00', class:"form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :date %>
        <%= form.date_field :date, class:"form-control", value: Date.today %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :category_id %>
        <%= form.select :category_id, options_for_select(category_options_for_select(data[:move_type]), (@transaction.category_id rescue nil)), {}, {class:"form-control"} %>
      </div>
      <div class='form-group'>
        <%= form.label :account_id %>
        <% default_account = @account.present? ? @account.id : @transaction.account_id %>
        <%= form.select :account_id, options_for_select(accounts_options_for_select, (default_account rescue nil)), {}, { class:'form-control' } %>
      </div>
    </div>

    <% if data[:move_type] == 'recipe' && current_user.budgets.any? %>
      <div class='col-md-12'>
        <div class="form-group">
          <%= form.label :budget_id %>
          <%= form.select :budget_id, budget_options_for_select, { include_blank: true }, { class:"form-control" } %>
        </div>
      </div>
    <% end %>

    <%= form.hidden_field :move_type, value: data[:move_type] %>
    <%= form.hidden_field :bill_id, value: data[:bill].id rescue nil %>

    <div class='col-md-12'>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('save'), class:"btn btn-primary" %>

    <% if params[:action] != 'edit' %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <% end %>
  </div>
<% end %>
