<%= form_with(model: @transaction, local: local) do |form| %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :price_cents %>
        <%= form.number_field :price_cents, step: :any, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :date %>
        <%= form.date_field :date, class:"form-control", min: Date.today.beginning_of_month, value: Date.today %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :category_id %>
        <%= form.select :category_id, options_for_select(category_options_for_select, (@transaction.category_id rescue nil)), {}, {class:"form-control"} %>
      </div>
      <div class='form-group'>
        <%= form.label :account_id %>
        <%= form.select :account_id, accounts_options_for_select, {}, { class:'form-control' } %>
      </div>
    </div>

    <div class='col-md-12'>
      <div class="form-group">
        <%= form.label :budget_id %>
        <%= form.select :budget_id, budget_options_for_select, { include_blank: true }, { class:"form-control" } %>
      </div>
    </div>

    <div class='col-md-12'>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('save'), class:"btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  </div>
<% end %>

<script>
  $('#transaction_category_id').change(function(){
    let category = $(this)
    console.log(category)
    console.log('<%= category_options_for_select %>')
    
  });
</script>