<nav class="navbar navbar-light navbar-filter">
  <%= search_form_for @q, url: transactions_path, html: { class: 'form-row my-2' } do |f| %>

    <div class='mx-2'>
      <div class='form-group col-md-2'>
        <%= f.label :category_id_eq, t('.category'), class: 'label-control' %>
        <%= f.select :category_id_eq, options_for_select(Category.pluck(:title, :id), (params[:q][:category_id_eq] rescue nil)), 
                                                          { include_blank: 'All' },
                                                          { data: { style: 'btn btn-link' },  class: 'custom-select' } %>
      </div>

      <div class='form-group col-md-2'>
        <%= f.label :account_id_in, t('.account'), class:'label-control' %>
        <%= f.select :account_id_in, options_for_select(Account.pluck(:title, :id), (params[:q][:account_id_in] rescue nil)),
                                                        { include_blank: 'All' },
                                                        { data: { style: 'btn btn-link' },  class: 'custom-select' } %>
      </div>

      <div class='form-group col-md-1'>
        <%= f.label :price, t('.price_cents'), class:'label-control' %>
        <%= f.number_field :price_cents_gteq, value: (params[:q][:price_cents_gteq] rescue nil), class:'form-control', in:0..999999, placeholder: 'Min' %>
      </div>

      <div class='form-group col-md-1'>
        <%= f.number_field :price_cents_lteq, value: (params[:q][:price_cents_lteq] rescue nil), class:'form-control', in:0..999999, placeholder: 'Max', style:'margin-top: 25px;' %>
      </div>

      <div class='form-group col-md-2'>
        <%= f.label :date, t('.date'), class:'label-control' %>
        <%= f.date_field :date_gteq, value: (params[:q][:date_gteq] rescue nil), class:'form-control' %>
      </div>

      <div class='form-group col-md-2'>
        <%= f.date_field :date_lteq, value: (params[:q][:date_lteq] rescue nil), class:'form-control', style:'margin-top: 25px;' %>
      </div>
      
      <div class='form-group col-md-2 d-flex flex-column'>
        <%= f.submit t('search'), class:'btn btn-outline-dark btn-round btn-sm mt-2' %>
        <%= link_to t('clear'), transactions_path, class:'btn btn-outline-secondary btn-round btn-sm' %>
      </div>
    </div>
  <% end %>
</nav>
<br>