<%- model_class = Transaction -%>

<div class="container mb-3">
  <nav class="navbar navbar-light ">
    <%= navbrand_link %>

    <div class='float-right'>
      <%= link_to '#', class: 'btn btn-outline-success btn-sm btn-round my-3', data: { toggle: 'modal', target: '#newRecipeModal' }, style: 'width:125px' do %>
        <span class='icon'>
          <i class='fa fa-plus-circle'></i> <%= t('button_title.new_recipe') %>
        </span>
      <% end %>

      <%= link_to '#', class: 'btn btn-outline-danger btn-sm btn-round my-3', data: { toggle: 'modal', target: '#newExpenseModal' }, style: 'width:125px' do %>
        <span class='icon'>
          <i class='fa fa-plus-circle'></i> <%= t('button_title.new_expense') %>
        </span>
      <% end %>

      <%= filter %>
    </div>
  </nav>
</div>

<div class="collapse" id="collapseSearch">
  <%= render 'search_filter' %>
</div>

<div class="row">
  <% if @transactions.any? %>
    <% @transactions.each do |day, transactions| %>
      <div class="col-md-12">
        <div class="card border-dark mb-3" style='border-radius:10px;'>
          <div class="card-body table-responsive">
            <table class='table table-borderless table-hover'>
              <thead>
                <tr>
                  <th style='width:200px;'><%= model_class.human_attribute_name :description %></th>
                  <th><%= model_class.human_attribute_name :price %></th>
                  <th><%= model_class.human_attribute_name :category_id %></th>
                  <th><%= model_class.human_attribute_name :account_id %></th>
                  <th><%= model_class.human_attribute_name :budget_id %></th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <% transactions.each do |transaction| %>
                <tbody class='border-bottom'>
                  <tr>
                    <td><div class='card-text'><small><%= transaction.description %></small></div></td>
                    <td><%= value_style(transaction) %></td>
                    <td><span class='badge badge-info p-2'><%= transaction.category&.title %></span></td>
                    <td><span class='badge badge-secondary p-2'><%= transaction.account.title %></span></td>
                    <td><span class='badge badge-primary p-2'><%= transaction&.budget&.objective_name %></span></td>
                    <td><%= render 'actions', transaction: transaction %></td>
                  </tr>
                </tbody>
              <% end %>
            </table>
            <div class="card-footer balance-diary text-right"><%= t '.balance_diary', day: I18n.l(day, format: :short), amount: humanized_money_with_symbol(balance_for_that_day(day)) %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class='w-100 text-center'>
      <div class="card">
        <div class='card-body'>
          <%= render 'shared/cards_for_new_users/transactions' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @transactions %>

<%= render partial: "transactions/modals/new_recipe", locals: { transaction: @transaction = current_user.transactions.new, local: true } %>
<%= render partial: "transactions/modals/new_expense", locals: { transaction: @transaction = current_user.transactions.new, local: true } %>
