<%- model_class = Transaction -%>

<div class="container mb-3">
  <nav class="navbar navbar-light ">
    <%= navlink_transaction %>

    <div class='float-right'>
      <%= modal_to_new_resource(t('.new_resource'), target: '#newTransactionModal') %>

      <%= filter %>
    </div>
  </nav>
</div>

<div class="collapse" id="collapseSearch">
  <%= render 'search_filter' %>
</div>

<div class="container-fluid">
  <% if @transactions.any? %>
    <table class='table table-borderless table-hover table-striped table-sm'>
      <caption><%= t '.balance_diary', amount: humanized_money_with_symbol(balance_for_that_day(Date.today)) %></caption>

      <thead class='thead-dark'>
        <tr>
          <th style='width:200px;'><%= model_class.human_attribute_name :description %></th>
          <th><%= model_class.human_attribute_name :value %></th>
          <th><%= model_class.human_attribute_name :date %></th>
          <th><%= model_class.human_attribute_name :category_id %></th>
          <th><%= model_class.human_attribute_name :bill_id %></th>
          <th><%= model_class.human_attribute_name :account_id %></th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody id='transactions'>
        <%= render @transactions %>
      </tbody>
    </table>
  <% else %>
    <div class='col-md-12 text-center'>
      <div class="card">
        <div class='card-body'>
          <%= fontawesome_icon('', 'fa fa-money', 'font-size: 45px;') %>
          <h3 class="display-5">Sem movimentações por aqui</h3>
          <p class="lead">Adicione sua primeira transação</p>
          <%= modal_to_new_resource(' Adicionar Movimentação', target: '#newTransactionModal', class_name: 'btn btn-outline-dark btn-round btn-md', style_css: 'padding-x: 100px;') %>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @transactions, outer_window: 2 %>
</div>

<%= render partial: "transactions/modals/new_transaction", locals: { transaction: @transaction = current_profile.transactions.new } %>
