<%- model_class = Transaction -%>
<div class="container mb-3">
  <nav class="navbar navbar-light ">
    <%= navlink_transaction %>

    <div class='float-right'>
      <%= modal_to_new_resource(t('.new_resource'), target: '#newTransactionModal') %>

      <%= filter %>
    </div>
  </nav>
</div>

<div class="collapse" id="collapseSearch">
  <%= render 'search_filter' %>
</div>

<div class="row">
  <% @transactions.each do |day, transactions| %>
    <div class="col-md-12">
      <div class="card border-dark mb-3" style='border-radius:10px;'>
        <div class="card-body">
          <table class='table table-borderless table-hover table-sm'>
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name :category %></th>
                <th><%= model_class.human_attribute_name :value %></th>
                <th><%= model_class.human_attribute_name :account %></th>
                <th colspan="1">Ações</th>
              </tr>
            </thead>
            <% transactions.each do |transaction| %>
              <tbody class='border-bottom'>
                <tr>
                  <td>
                    <div class='custom-card-text'>
                      <%= transaction.category.title %> <%= transaction.bill.title rescue nil %><br>
                      <small><%= transaction.description %></small>
                    </div>
                  </td>
                  <td><%= value_style(transaction) %></td>
                  <td><%= transaction.account.title %></td>
                  <td><%= render 'actions', transaction: transaction %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
          <div class="card-footer balance-diary text-right"><%= t '.balance_diary', amount: humanized_money_with_symbol(balance_for_that_day(day)), day: day %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @transactions, outer_window: 2 %>
<%= render partial: "#{params[:controller]}/modals/new_transaction", locals: { transaction: @transaction = current_user_profile.transactions.new } %>
