<nav id='navbar_home' class="navbar navbar-light bg-light sticky-top mb-3 py-2" style='padding: 15px 10px;font-size: 12px;'>
  <%= link_to '#', id:'sidebarCollapse', style:'font-size:15px' do %>
    <span class='icon'><i class="fa-solid fa-bars"></i></span> Menu
  <% end %>

  <div class="btn-group mx-2" role="group" aria-label="Basic example">
    <%= link_to notifications_path, class: 'btn btn-sm text-white' do %>
      <i class="fa fa-bell"></i>
    <% end %>
    <%= link_to edit_user_profile_path(current_user), class:"btn btn-sm text-white" do %>
        <i class="fa fa-user"></i> <%= current_user.email %>
      <% end %>
    <%= link_to destroy_user_session_path,class: 'btn btn-sm text-white', method: :delete, data: {confirm: "#{t '.notifications.confirm'}" } do %>
      <i class="fa fa-sign-out"></i>
    <% end %>
  </div>

</nav>