<nav id="sidebar">
  <div id="dismiss">
    <i class="fa fa-arrow-left"></i>
  </div>

  <div class="sidebar-header">
    <%= link_to '', dashboard_index_path, class:"logo-style-dashboard site_title" %>
  </div>

  <ul class="list-unstyled components">
    <li>
      <%= link_to dashboard_index_path do %>
        <i class="fa fa-bar-chart"></i> <%= t '.dashboard' %>
      <% end %>
    </li>
    <li>
      <%= link_to accounts_path do %>
        <i class='fa fa-calculator' style='text-align:left;'></i> <%= t '.accounts' %>
      <% end %>
    </li>
    <li>
      <%= link_to transactions_path do %>
        <i class='fa fa-exchange' style='text-align:left;'></i> <%= t '.transactions' %>
      <% end %>
    </li>
    <li>
      <%= link_to categories_path do %>
        <i class='fa fa-list' style='text-align:left;'></i> <%= t '.categories' %>
      <% end %>
    </li>
    <li>
      <%= link_to bills_path do %>
        <i class='fa fa-refresh' style='text-align:left;'></i> <%= t '.bills' %>
      <% end %>
    </li>
    
  </ul>
</nav>
