<%= form_with model: user_profile, local: true do |form| %>

  <div class='row'>
    <div class='col-md-4' style='margin:auto'>
      <div class='card border-dark mb-3'>
        <div class='card-body'>
          <% @user_profile = current_user_profile.avatar %> <!-- Variable for set the current user for images profile --->
          <%= @user_profile.attached? ? image_tag(@user_profile, size:"128x128", class:"img-circle profile_img") : image_tag("https://bulma.io/images/placeholders/1280x960.png", size:"128x128", class:"img-circle profile_img") %>
        </div>
      </div>
    </div>
    <div class='col-md-8'>
      <div class='card border-dark'>
        <div class='card-body'>
          <div class='form-group'>
            <div class='field'>
              <%= form.label :'Nome Completo' %>
              <%= form.text_field :name, class:'form-control' %>
            </div>
          </div>
          <div class='form-group'>
            <label>Avatar</label>
            <div class='field'>
              <div class='custom-file'>
                <%= form.label :'Escolher arquivo', class:'custom-file-label', for:'customFile' %>
                <%= form.file_field :avatar, class:'custom-file-input', id:'customFile' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class='btn-group actions'>
    <%= form.submit t('.save'), class:'btn btn-primary' %>&nbsp;
    <%= link_to t('.back'), dashboard_index_path, class:'btn btn-secondary' %>
  </div>
<% end %>