<div class='card mb-4'>
  <div class='card-header py-2'><h3><%= t '.title' %></h3></div>
  <div class='card-body'>
    <%= render "form", user_profile: @user_profile %>
  </div>
</div>

<h3 class='mb-4'>Minhas conquistas</h3>

<div class='container'>
  <div class='row'>
    <% @user_profile.achievements.each do |achievement| %>
      <div class='col-sm-4'>
        <div class='card border-dark w-100 mb-2'>
          <h4 class='card-header d-flex flex-row justify-content-between'>
            <%= t(".achievements.codes.#{achievement.code.parameterize}") %>

            <button type="button" class="btn btn-success btn-sm">
              Contador <span class="badge badge-light"><%= achievement.reached %></span>
            </button>
          </h4>

          <div class='card-body d-flex flex-row align-items-center'>
            <span class='icon d-inline mb-2' style='font-size: 24px;'>
              <%= fontawesome_icon('', achievement.icon.to_s, 'font-size: 32px') %>
            </span>

            <p class='d-inline ml-2'><%= achievement.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
