<div class="card-header d-flex flex-row justify-content-between bg-web-money-green py-0" id="plan-<%= plan.id %>">
  <div class='d-flex flex-row justify-content-left align-items-center'>
    <h2 class="mb-0">
      <%= link_to '#', class: 'text-white btn btn-link', data: { toggle: 'collapse', target: "#plan-#{ plan.id }" }, aria: { expanded: 'true', controls: "plan-#{ plan.id }" } do %>
        <%= plan.name %> - <%= plan.date_limit.strftime('%d/%b de %Y') %>
      <% end %>
    </h2>
  </div>

  <div class='d-flex flex-row justify-content-left align-items-center'>
    <%= render 'actions', plan: plan %>
  </div>
</div>