<div class="row">
  <% @transactions.each do |transaction| %>
    <div class="col-md-4 col-xl-4 col-sm-4">
      <div class="card text-white bg-dark mb-12" style="margin-bottom:10px;">
        <p class="card-header" style="<%= color_recurrence(transaction.recurrence) %>"><%= transaction.title.truncate(40) %></p>
        <div class="card-body">
          <p class="card-text" ><strong>Conta: </strong><%= transaction.recurrence.title.truncate(30) %></p>
          <p class="card-text"><%= humanized_money_with_symbol(transaction.price_cents) %> | <%= I18n.l(transaction.date.to_date) %></p>
          <%= link_to "", edit_users_backoffice_transaction_path(transaction), class:"btn btn-primary fa fa-edit" %>
          <%= link_to "", users_backoffice_transaction_path(transaction), method: :delete, data: { confirm: 'Tem certeza ?' }, class:"btn btn-danger fa fa-trash" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @transactions, outer_window: 2 %>
