<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Web Money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; IE=edge">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render 'application/side_bar' %>

        <%= render 'application/navbar' %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row" style="display: inline;" >
            <div class="mb-3 col-md-12 col-xl-12 col-sm-12">
              <%= yield %>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%= render 'application/footer' %>
        <!-- /footer content -->
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% flash.each do |type, msg| %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= msg %>', {
          type: '<%= flash_class(type) %>', // (null, 'info', 'danger', 'success')
          align: 'right', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      <% end %>
    <% end %>
     
  </body>
</html>
