<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Finances System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'user_devise' %>

  </head>

  <body class="login" style='background:#2F4F4F'>
    <div>
      <a class="hiddenanchor" id="signin"></a>
      
      <div class="">
        <div class="animate form login_form">
          <section class="login_content" style='max-width: 75%; margin:auto;'>

            <div class='card border-dark mt-5 mb-5' sytle='border-radius: 20px;'>
              <div class='card-body'>
                <div class='row'>
                  <div class='col-md-7'>
                    <figure class="figure">
                      <%= image_tag 'finances.jpg', class:'figure-img img-fluid rounded' %>
                    </figure>
                  </div>
                  <div class='col-md-5'>
                    <h3><i class="fa fa-bank"></i> Finances System</h3><br>
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if flash %>
      <% flash.each do |key, value| %>
        <%= javascript_tag do %>
            $.bootstrapGrowl('<%= value %>', {
            type: 'danger', // (null, 'info', 'danger', 'success')
            align: 'right', // ('left', 'right', or 'center')
            allow_dismiss: true, // If true then will display a cross to close the popup.
            stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        <% end %>
      <% end %>
    <% end %>
    
    <% unless resource.errors.empty? %>
      <% resource.errors.full_messages.each do |msg|%>
        <%= javascript_tag do %>
          $.bootstrapGrowl("<%= msg %>", {
            ele: 'body', // which element to append to
            type: 'danger', // (null, 'info', 'error', 'success')
            offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
            align: 'right', // ('left', 'right', or 'center')
            width: 250, // (integer, or 'auto')
            delay: 8000,
            allow_dismiss: true,
            stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
