<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Web Money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="description" content="A Web Money é um projeto que busca resolver problemas financeiros reais.">
    <meta name="author" content="Desenvolvido por © Angeliano Sousa">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'user_devise' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="animate form login_form">
      <section class="login_content">

        <div class='card card-style mt-5 mb-5'>
          <div class='card-body'>
            <div class='row'>
              <div class='col-md-7'>
                <%= image_tag 'finances.jpg', class:'figure-img img-fluid rounded' %>
              </div>
              <div class='col-md-5'>
                <%= image_tag 'logo-banner.png' %>

                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% unless resource.errors.empty? %>
      <% resource.errors.full_messages.each do |msg|%>
        <%= javascript_tag do %>
          $.notify(
            '<%= msg %>',
            { type: 'danger', allow_dismiss: true }
          );
        <% end %>
      <% end %>
    <% end %>

  </body>
</html>
