<%= form_with(model: @account, local: local) do |form| %>
  <%#= render "shared/error_messages", resource: @account %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class='form-group'>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class:'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <div class="field">
      <%= form.label :price_cents %>
      <%= form.number_field :price_cents, placeholder: 'R$0,00', class:'form-control', step: :any %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('save'), class:'btn btn-primary' %>
    <%= link_to t('back'), accounts_path, class:'btn btn-secondary' %>
  </div>
<% end %>
