<%= form_with(url: url, model: @account, local: true) do |form| %>

  <%= form.hidden_field :user_profile_id, value: current_user.user_profile.id %>

  <div class='form-group'>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class:'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <div class="field">
      <%= form.label :price_cents %>
      <%= form.text_field :price_cents, class:'form-control', min: 0, step: :any %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('save'), class:'btn btn-primary' %>
    <%= link_to t('back'), accounts_path, class:'btn btn-secondary' %>
  </div>
<% end %>
