<%- model_class = Account -%>
<div class="container">
  <nav class="navbar navbar-light">
    <%= navlink_account %>

    <div class='nav-item'>
      <%= modal_to_new_resource(t('.new_resource'), target: '#newAccountModal') %>
    </div>
  </nav>
</div><br>

<div class='card border-dark' style='border-radius:10px;'>
  <div class='card-body'>
    <table class='table table-hover table-borderless table-sm'>
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name :title %></th>
          <th><%= model_class.human_attribute_name :price_cents %></th>
          <th colspan="1">Ações</th>
        </tr>
      </thead>
      <% @accounts.each do |account| %>
        <tbody class='border-bottom'>
          <tr>
            <td><h6><%= account.title %></h6></td>
            <td><%= humanized_money_with_symbol(account.price_cents) %></td>
            <td><%= render 'actions', account: account %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class='container-fluid'>
    <%= paginate @accounts, outer_window: 3 %>
  </div>
</div>


<%= render partial: "#{params[:controller]}/modals/new_account", locals: { account: @account = current_user_profile.accounts.new } %>
