<div class="container">
  <nav class="navbar navbar-light">
    <%= navlink_account %>
  </nav>
</div><br>

<div class='row'>
  <div class='col-md-4'>
    <div class='card'>
      <div class='card-body text-center'>
        <%= fontawesome_icon('', 'fa fa-bank', 'font-size: 45px;') %>
        <h3 class="display-5">Adicionar conta</h3>
        <%= modal_to_new_resource('', target: '#newAccountModal', class_name: 'btn btn-outline-dark btn-round btn-md', style_css: 'padding-x: 100px;') %>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <div id='accounts'>
      <%= render @accounts %>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <%= paginate @accounts, outer_window: 3 %>
</div>

<%= render partial: "accounts/modals/new_account", locals: { account: @account = current_profile.accounts.new } %>
<%= render partial: "accounts/modals/transfer" %>
<%= render partial: "accounts/modals/new_transaction", locals: { transaction: @transaction = current_profile.transactions.new } %>
