<%- model_class = Account -%>
<div class="container">
  <nav class="navbar navbar-light">
    <%= navlink_account %>

    <div class='nav-item'>
      <%= modal_to_new_resource(t('.new_resource'), target: '#newAccountModal') %>
    </div>
  </nav>
</div><br>

<div class='row'>
  <% @accounts.each do |account| %>
    <div class='col-md-4'>
      <div class='card border-dark mb-3'>
        <div class='card-body'>
          <div class='custom-card-text'>
            <div class='float-right'>
              <%= render 'actions', account: account %>
            </div>
            <h4><%= account.title %></h4>
            <p><%= humanized_money_with_symbol(account.price_cents) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class='container-fluid'>
  <%= paginate @accounts, outer_window: 3 %>
</div>


<%= render partial: "#{params[:controller]}/modals/new_account", locals: { account: @account = current_user_profile.accounts.new } %>
