<div class="container">
  <nav class="navbar navbar-light">
    <%= navbrand_link %>
  </nav>
</div><br>

<div class='row'>
  <div class='col-md-4'>
    <div class='card mb-3'>
      <div class='card-body text-center'>
        <%= fontawesome_icon('', 'fa fa-bank', 'font-size: 45px;') %>
        <h3 class="display-5">Adicionar conta</h3>
        <%= modal_to_new_resource('', target: '#newAccountModal', class_name: 'btn btn-outline-dark btn-round', style_css: 'padding-x: 100px;') %>
      </div>
    </div>
  </div>
  <div class='col-md-8'>
    <% @accounts.each do |account| %>
      <div class='col-md-6'>
        <div class='card border-dark mb-3'>
          <div class='card-body'>
            <div class='custom-card-text'>
              <div class='float-right'>
                <%= render 'actions', account: account %>
              </div>
              <h4><%= account.title %></h4>
              <p><%= humanized_money_with_symbol(account.price_cents) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='container-fluid'>
  <%= paginate @accounts, outer_window: 3 %>
</div>

<%= render partial: "accounts/modals/transfer" %>
<%= render partial: "accounts/modals/new_account",     locals: { account: @account = current_profile.accounts.new, local: true } %>
<%= render partial: "transactions/modals/new_recipe",  locals: { transaction: @transaction = current_profile.transactions.new, local: false } %>
<%= render partial: "transactions/modals/new_expense", locals: { transaction: @transaction = current_profile.transactions.new, local: false } %>
