<h2>Editando <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="form-group">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmação: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :Nova_senha %> <i>(Deixe em branco se não quiser editar)</i><br />
    <%= f.password_field :password, autocomplete: "********" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> letras no mínimo</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :Confirmação_de_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "********", class:"form-control" %> %>
  </div>

  <div class="form-group">
    <%= f.label :Senha_atual %> <i>(Precisamos da sua senha atual, para atualizar os dados)</i><br />
    <%= f.password_field :current_password, autocomplete: "********", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar", class:"btn btn-primary btn-block", style:"float:none;margin-left:0;" %>
  </div>
<% end %>

<h3>Cancelamento de conta</h3>

<p><%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
